@import "tailwindcss";
@plugin "daisyui";

@theme {
    /* Font Family */
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Montserrat", ui-sans-serif, system-ui, sans-serif;

    /* Font Sizes */
    --text-display: 1.375rem;
    --text-h1: 1.25rem;
    --text-h2: 1rem;
    --text-h3: 0.938rem;
    --text-body: 0.75rem;
    --text-body-sm: 0.625rem;

    /* Brand */
    --color-brand: #E83939;

    /* Surface and Background */
    --color-background: #FBFCFD;
    --color-surface: #FCF8F8;

    /* Text */
    --color-text: #0F172A;
    --color-text-muted: #748296;

    /* Borders */
    --color-border: #E2E8F0;

    /* Brand Variants */
    --color-brand-soft: #FCF3F3;
    --color-brand-border: #EBB7AD;
    --color-brand-border-subtle: #F7DDDD;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}