# Internal
PORT=3001

# Sync
SYNC_API_URL=""
SYNC_API_KEY=""

# Gemini
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-3.1-flash-lite-preview"
GEMINI_PROMPT_FILE_NAME="analysis_v3.txt"

# Other
IG_STORY_API_URL=""